version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: odoo_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: odoo_frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
    restart: always
